apiVersion: apps/v1
kind: Deployment
metadata:
  name: webservice
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: webservice
  template:
    metadata:
      labels:
        app: webservice
    spec:
      containers:
        - image: devopsabi/demo-app-k8s:01
          name: webservice
          ports:
            - containerPort: 8080
